[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.1"
kaggle = "*"
scrapy = "*"
beautifulsoup4 = "*"
scrapy-selenium = "*"
selenium = "*"
pymongo = "*"
pandas = "*"
scikit-learn = "*"
azure-storage-blob = "*"
azure-identity = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
